venv/
 __pycache__/
 *.pyc
 .vscode/venv/
 __pycache__/
 *.pyc
 .vscode/
__pycache__/characterBase.cpython-310.pyc
__pycache__/characterBase.cpython-310.pyc
__pycache__/characters.cpython-310.pyc
core/__pycache__/compiler.cpython-310.pyc
core/__pycache__/model.cpython-310.pyc
core/__pycache__/modules.cpython-310.pyc
